main{
    display: flex;
    justify-content: center;
  
  }
  
 .container{
    display: flex;
    flex-direction: column;
    background: rgb(0, 247, 255);
    width: 1000px;
    height: 500px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
  }
  

 .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 3%;
    margin-top: 8%;
    font: bold 2.5rem serif;
    border-bottom: solid 5px black;
    margin-bottom: 20px;
  }
  
 .input {
    display: flex;
    width: 500px;
    height: 50px;
    margin-bottom: 3%;
    margin-top: 3%;
    justify-content: space-between;
    align-items: center;
  }
 .input input {
    width: 400px;
    height: 50px;
    border-radius: 50px;
    border:none;
    outline: 0;
    font: bold 1.5rem serif;
    text-align: center;
  }
  
 .input label {
    font: bold 1.5rem serif;
  }

  
  button{
    width: 700px;
    height: 40px;
    font: bold 1.2rem serif;
    background: #000;
    align-items: center;
    color: rgb(0, 255, 191);
    outline: none;
    border-radius: 15px;
    cursor: pointer;
  }

 .btnP2{
    width: 700px;
    height: 40px;
    margin-bottom: 3%;
    font: bold 1.2rem serif;
    background: #000;
    align-items: center;
    color: rgb(255, 0, 13);
    outline: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
 .result{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 120px;
    margin-bottom: 2%;
    border-radius: 5px;
    font: italic 1.5rem serif;
    box-shadow: 0px 0px 10px black;
    background: #000;
    color: rgb(255,198,0);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
  }

 .resultgc{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 120px;
    margin-bottom: 2%;
    border-radius: 5px;
    font: italic 1.5rem serif;
    box-shadow: 0px 0px 10px black;
    background: #000;
    color: rgb(255,198,0);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
  }

.radio-inline {

  font-size: 102%;
  margin-top: 15%;
  margin-bottom: 30%;
  align-items: center;
  margin-left: 18%;
 }

 .explicacao {
  font-size: 83%;
  margin-top: 6%;
  margin-bottom: 30%;
  margin-left: 7%;
 }

 .OG1 {
  font-size: 155%;
 }
 .OG2 {
  font-size: 155%;
 }
 .OG3 {
  font-size: 155%;
 }